<!-- Home Page - Will be handled by router -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <i class="bi bi-info-circle me-2"></i>
                Chào mừng đến với Hệ thống Quản lý Điểm FPT Polytechnic
            </div>
        </div>
    </div>
</div>
